/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Nuosu+SIL&family=Poppins:wght@300&family=Work+Sans&display=swap');

/*visual elements*/
body {
    /*background-color: black;*/
    background-image: linear-gradient(210deg, #ffffff, #fcf5fa, #fcecf7);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
hr {
    height: 2px;
    background: /*#511928*/ #541940;
    border: 0%;
}
html {
    scroll-behavior: smooth;
}
#email-entry, #message-entry {
    background-color: #ffffff;
    border: none;
}
#message-entry {
    width: 40%;
    height: 400%;
    font-family: arial;
}
#email-entry {
    margin-bottom: 2%;
}
#send-button {
    margin-top: 2%;
    background-color: var(--header-color2);
    color: var(--header-font-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 2em;
    text-align: center;
    width: 4em;
}
#send-button:hover {
    background-color: var(--header-font-color);
    color: var(--header-color2);
}
.intro-page {
    height: 45em;
    /*background-image: radial-gradient(#ffd8f5, #ffffff);*/
    margin: -1.7%;
    /*position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    top: -37.5em;*/
    display: block;
}
#half-page-break {
    height: 50%;
    overflow-y: hidden;
    overflow-x: hidden;
}
:root {
    --header-font-color: rgb(233, 241, 241);
    --bodytext-color: #541940;
    --header-color2: #f85284;
    --link-active: rgb(24, 20, 83);
}
/* potential header transition
header:hover {
    background-image: linear-gradient(300deg, #49ab33, rgb(110, 192, 142));
}*/

/*major text elements*/
#about-me-section{
    opacity: 0;
}
#welcome-top, #welcome-bottom {
    font-size: 500%;
    font-weight: bolder;
    color:black;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    display: none;
}
#welcome-top {
    margin-bottom: 0;
    margin-top: 15vh;
}
#welcome-bottom {
    margin-bottom: 0.5em;
}
#scroll-down {
    text-decoration: none;
    color: black;
    font-size: 240%;
    /*animation: arrowbounce 2s infinite;*/
    display: none;
}
#main-header {
    color: /*#F1C6C6*/ var(--header-font-color);
    font-size: 120%;
    /*background-color: #4CBB17 #1B1D4D*/ background-image: linear-gradient(300deg, #89356c, var(--header-color2));
    margin-top: -22.3em;
    margin-bottom: 40vh;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0.1% 0% 0.1% 0% !important;
    box-shadow: 0px 4px 5px rgba(206, 87, 152, 0.673);
    align-self: center;
    text-align: center; 
    position: sticky;
    position: -webkit-sticky; !important
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    top: 2.5vh; 
    left: 0;
    width: 100%;
    border-radius: 15px;
    white-space: nowrap;
    overflow-x: hidden;
    z-index: 1000;
    max-width: 99vw;
    font-family: 'Work Sans', sans-serif;
    display: block;
}
.sub-sub-headers {
    margin-top: -0.5%;
    font-size: 125%;
    /*padding-left: 4.5%;*/
    color: /*#1B1D4D #4CBB17*/ var(--bodytext-color);
}
.headers {
    font-weight: 1000;
    color: /*#511928*/ #2c0e22;
    text-decoration: underline;
    font-size: 200%;
}
.form-labels {
    color: /*#1B1D4D #4CBB17*/ var(--bodytext-color);
}
h3 {
    font-size: 110%;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    color: /*#1B1D4D #4CBB17*/ var(--bodytext-color);
    font-weight: 550;
}
.sub-headers {
    margin-top: 2%;
    /*margin-left: 2.5%;
    padding-left: 2%;*/
    font-size: 150%;
    color: /*#1B1D4D #4CBB17*/ var(--bodytext-color);
}
p, label {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    font-size: 110%;
    color: /*#1B1D4D #4CBB17*/ var(--bodytext-color);
}
address {
    margin: 5% -2% -2% -2%;
    background-color: white;
    padding: 2%;
    font-style: normal;
    color: gray;
    font-weight: 1000;
}

/*links*/
.link-list {
    font-size: 40%;
    padding: 0%;
    margin: 0%;
    color: /*#1748bb rgb(248, 242, 203)*/ var(--header-font-color);
    font-weight: bold;
    /*font-style: italic;*/
    text-decoration: none;
    letter-spacing: normal;
    display: none;
}
#linkedin::after, #github::after {
    content: "\00a0|";
    color: /*#1748bb rgb(248, 242, 203)*/ var(--header-font-color);
    /*font-style: italic;*/
    font-size: 100% !important;
}
header a:hover {
    font-size: 45%;
    padding: 0%;
    margin: 0%;
    color: /*#1748bb*/ rgba(233, 241, 241, 0.757);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
header a:active {
    font-size: 45%;
    padding: 0%;
    margin: 0%;
    color: /*#1748bb*/ var(--link-active);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
main a {
    padding: 0%;
    margin: 0%;
    color: /*#1748bb rgb(248, 242, 203)*/ var(--header-color2);
    font-weight: bold;
    /*font-style: italic;*/
    text-decoration: underline;
    letter-spacing: 1px;
}
main a:hover {
    padding: 0%;
    margin: 0%;
    color: /*#1748bb*/ rgba(56, 12, 36, 0.757);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
main a:active {
    padding: 0%;
    margin: 0%;
    color: /*#1748bb*/ var(--link-active);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

/*scroll bar*/
*::-webkit-scrollbar {
    width: 0.4em;
    border-radius: 100px;
}
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #d7faff;
    border-radius: 100px;
}
*::-webkit-scrollbar-thumb {
    background-color: #f85284;
    border-radius: 100px;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #b53d61;
}

/*highlighting*/
*::selection {
    background: var(--header-color2);
    color: var(--header-font-color);
}
*::-moz-selection {
    background: var(--header-color2);
    color: var(--header-font-color);
}

/* potential animation
@keyframes arrowbounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px)
    }
}
*/
/*small device implementation*/
@media (max-width: 468px) {
    #welcome-top, #welcome-bottom {
        font-size: 400%;
        font-weight: bolder;
        color:black;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        display: none;
    }
    #welcome-bottom {
        margin-bottom: 0.5em;
    }
    #main-header {
        color: /*#F1C6C6*/ var(--header-font-color);
        font-size: 85%;
        /*background-color: #4CBB17 #1B1D4D*/ background-image: linear-gradient(300deg, #89356c, var(--header-color2));
        margin-top: -31em;
        margin-bottom: 40vh;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0.3% 0% 0.3% 0% !important;
        box-shadow: 0px 4px 5px rgba(206, 87, 152, 0.673);
        align-self: center;
        text-align: center; 
        position: sticky;
        position: -webkit-sticky; !important
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        display: block;
        top: 2.5vh; 
        overflow-x: hidden;
        left: 0.5%;
        width: 98%;
        border-radius: 15px;
        white-space: nowrap;
        z-index: 1000;
        max-width: 99vw;
        font-family: 'Work Sans', sans-serif;
    }
}