/*visual elements*/
body {
    background-color: #e9fbfc/*#ECFDF2 rgb(250, 255, 255)*/;
    background-image: linear-gradient(210deg, #ffffff,#d9eeff63, #d7faff);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
hr {
    height: 2px;
    background: /*#511928*/ #541940;
    border: 0%;
}

/*major text elements*/
#main-header {
    color: /*#F1C6C6*/ rgb(233, 241, 241);
    font-size: 260%;
    /*background-color: #4CBB17 #1B1D4D*/ background-image: linear-gradient(300deg, #89356c, #f85284);
    margin: -1.7% 0% 0% -1.7%;
    padding-top: 2.5%;
    padding-left: 3%;
    padding-bottom: 1.5%;
    box-shadow: 0px 4px 5px rgba(206, 87, 152, 0.673);
    text-align: left;
}
#major {
    margin-top: 0%;
    /*margin-left: 2.5%;
    padding-left: 2%;*/
    font-size: 150%;
    color: /*#1B1D4D #4CBB17*/ #541940;
}
#school {
    margin-top: 1%;
    font-size: 130%;
    /*padding-left: 4.5%;*/
    color: /*#1B1D4D #4CBB17*/ #541940;
}
.headers {
    font-weight: 1000;
    color: /*#511928*/ #2c0e22;
    text-decoration: underline;
    font-size: 200%;
}
#email-entry {
    margin-bottom: 2%;
}
#send-button {
    margin-top: 2%;
}

/*links*/
.link-list {
    font-size: 40%;
    padding: 0%;
    margin: 0%;
    color: /*#1748bb*/ rgb(248, 242, 203);
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}
a:hover {
    font-size: 45%;
    padding: 0%;
    margin: 0%;
    color: /*#1748bb*/ rgb(222, 217, 184);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
a:active {
    font-size: 45%;
    padding: 0%;
    margin: 0%;
    color: /*#1748bb*/ rgb(24, 20, 83);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
