#main-header {
    color: #F1C6C6;
    font-size: 45px;
    background-color: #1B1D4D;
}

.black-blue-text {
    color: #1B1D4D;
}
body {
    background-color: #ECFDF2;
}
.background-black-blue {
    background-color: #1B1D4D;
}